.header-area::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 28%;
  background: linear-gradient(270deg, #281d77 6.32%, #00060c 216.42%);
  height: 100%;
  content: "";
  z-index: -1;
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
}
